
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/headerPart :: common-headerPart" />

<body>
	<div th:replace="common/headerPart :: navbar" />

	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/protein/editProtein}" method="post"
				enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">
						Update Protein Information<span style="font-size: small"> * is a
							required field</span>
					</legend>
                    
                    <input hidden="hidden" name="id" th:value="${protein.id}"/>

					<!-- title -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="basliq">* Title</label>

						<div class="col-md-8">
							<input type="text" name="basliq" class="form-control" id="basliq"
								th:value="${protein.basliq}" required="required" placeholder="Title" />
							<span class="help-block">Title of the protein</span>
						</div>
					</div>

					

					<!-- category -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="kategoriya">*
							Category</label>
						<div class="col-md-8">
							<select th:value="${protein.kategoriya}" id="kategoriya" name="kategoriya"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Please
									select an option...</option>
								<option value="NaturallyFlavoured"
									th:selected="(${protein.kategoriya}=='NaturallyFlavoured')">Naturally Flavoured</option>
								<option value="PlatinumSeries"
									th:selected="(${protein.kategoriya}=='PlatinumSeries')">Platinum Series</option>
								<option value="ProSeries"
									th:selected="(${protein.kategoriya}=='ProSeries')">Pro Series</option>
								<option value="GoldStandard"
									th:selected="(${protein.kategoriya}=='GoldStandard')">Gold Standard</option>	
							</select>
						</div>
					</div>

					
					<!-- catdirilma cekisi -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="catdirilmaCekisi">Shipping
							Weight</label>
						<div class="col-md-8">
							<div class="input-group">
								<input th:value="${protein.catdirilmaCekisi}" type="number"
									name="catdirilmaCekisi" class="form-control" id="catdirilmaCekisi" 
									placeholder="Shipping Weight" step="0.01" /> <span
									class="input-group-addon">Ounces</span>
							</div>
							<span class="help-block">Shipping Weight of the protein</span>
						</div>
					</div>

					<!-- list price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="olanQiymet">List
							Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${protein.olanQiymet}" type="number" name="olanQiymet" step="0.01"
									class="form-control" id="olanQiymet" placeholder="List Price" />
							</div>
							<span class="help-block">List price of the protein</span>
						</div>
					</div>

					<!-- our price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="bizimQiymet">Our
							Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${protein.bizimQiymet}" type="number" name="bizimQiymet" step="0.01"
									class="form-control" id="bizimQiymet" placeholder="Our Price" />
							</div>
							<span class="help-block">Our price of the protein</span>
						</div>
					</div>

					<!-- in stock number -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="stokdakiSay">Number
							in stock</label>
						<div class="col-md-8">
							<input th:value="${protein.stokdakiSay}" type="number"
								name="stoktakiSay" class="form-control" id="stokdakiSay"
								placeholder="Number of in-stock copies" /> <span
								class="help-block">Number of in-stock copies</span>
						</div>
					</div>

					<!-- status of protein -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="status">Status</label>
						<div class="col-md-8">
							<label><input value="true" type="radio" name="aktiv"
								checked="checked" /> Active </label> <label><input
								value="false" type="radio" name="aktiv" /> Inactive </label> <span
								class="help-block">Whether the protein is active or inactive</span>
						</div>
					</div>

					<!-- description -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="aciqlama">Description</label>
						<div class="col-md-8">
							<textarea name="aciqlama" rows="7" class="form-control"
								id="aciqlama" th:value="${protein.aciqlama}" th:text="${protein.aciqlama}"
								placeholder="Description" ></textarea>
							<span class="help-block">Description of the protein</span>
						</div>
					</div>

					<!-- upload image -->
					<div class="form-group">
						<div class="col-md-2">
							<label for="proteinSekili">Upload protein image</label>
						</div>
						<div class="col-md-8">
							<input id="proteinSekili" type="file" name="proteinSekili"
								th:value="${protein.proteinSekili}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Update protein</button>
							<a class="btn btn-danger" th:href="@{/protein/proteinInformation(id=${protein.id})}">Cancel</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>


	<div th:replace="common/headerPart :: body-bottom-scripts" ></div>
</body>
</html>
